<div class="window">
  <div class="window-content">
    <div class="pane-group">
      <div class="pane-sm sidebar">
        <nav class="nav-group">
          <h5 class="nav-group-title">Salonizer</h5>
          <a class="nav-group-item" [routerLink]="['/calendar']" routerLinkActive="active"> 
            <span class="icon icon-home"></span>
            Kalendarz
          </a>
          <a class="nav-group-item" [routerLink]="['/customers']" routerLinkActive="active">
            <span class="icon icon-users"></span>
            Klienci
          </a>
          <a class="nav-group-item" [routerLink]="['/services']" routerLinkActive="active">
            <span class="icon icon-tools"></span>
            Usługi
          </a>
          <a class="nav-group-item" [routerLink]="['/stats']" routerLinkActive="active">
            <span class="icon icon-chart-line"></span>
            Statystyki
          </a>
          <a class="nav-group-item" [routerLink]="['/settings']" routerLinkActive="active">
            <span class="icon icon-cog"></span>
            Ustawienia
          </a>
        </nav>
        <nav class="nav-group">
            <h5 class="nav-group-title">Społeczność</h5>
            <a class="nav-group-item" [routerLink]="['/calendar']" routerLinkActive="active"> 
              <span class="icon icon-home"></span>
              Kolejna wersja
            </a>
            <a class="nav-group-item" [routerLink]="['/customers']" routerLinkActive="active">
              <span class="icon icon-users"></span>
              Forum
            </a>
            <a class="nav-group-item" [routerLink]="['/services']" routerLinkActive="active">
              <span class="icon icon-tools"></span>
              BugTracker
            </a>
          </nav>
          <nav class="nav-group">
              <h5 class="nav-group-title">Konto</h5>
              <a class="nav-group-item" [routerLink]="['/customers']" routerLinkActive="active">
                <span class="icon icon-users"></span>
                Zaloguj
              </a>

            </nav>
      </div>
      <div class="pane" style="padding:10px;"><router-outlet></router-outlet></div>
    </div>
  </div>
</div>