<div id="addServiceModal" class="service-add-modal-window" >
  <form serviceForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nazwa nowej usugi</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="serviceForm.name">
    </div>
    <div class="form-group">
      <label>Czas (min.)</label>
      <input type="text" class="form-control" name="time" [(ngModel)]="serviceForm.time">
    </div>
    <div class="form-group">
        <label>Cena</label>
        <input type="text" class="form-control" name="cost" [(ngModel)]="serviceForm.cost">
      </div>
    <div class="form-actions">
      <button type="button" class="btn btn-form btn-default" (click)="clicked($event)">Cancel</button>
      <button type="submit" class="btn btn-form btn-primary">OK</button>
    </div>
  </form>
</div>
