<div class="window">
		<app-service-add-form (eventTask)=refresh()></app-service-add-form>

  <div class="header">
    <h1>Usługi</h1>
  </div>

  <div class="content">
      <table class="table-striped">
          <thead>
            <tr>
              <th>Nazwa</th>
              <th>Czas</th>
              <th>Cena</th>
              <th>Akcje</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of fresult">
              <td>{{ item.name }}</td>
              <td>{{ item.time }}</td>
              <td>{{ item.price }}</td>
              <td>[edit] [delete]</td>
            </tr>
          </tbody>
        </table>
  </div>

  <div class="footer">
    <div class="buttons">
        <button class="btn btn-large btn-default margin-2px" (click)="openModal()">Nowa usługa</button>
    </div>
  </div>
</div>
