.calendar{
        min-width: 500px;
        width: 100%;
        max-width: 1000px;
        min-height: 600px;
        border: 1px;
        border-style: solid;
        border-radius: 2px;

}

.day{
        min-width: 100px;
        width: 14.28%;
        max-width: 100%;
        float: left;
        padding: 0px;
        margin: 0px;

}

#buttons {
        padding: 0px;
        margin: 0px;
}

#buttons li {
        /*float: left;*/
        list-style: none;
        /* text-align: center; */
        background-color: #336699;
        /* margin-right: 30px; */
        width: auto;
        line-height: 30px;
        color: white;
      }

#buttons li:hover {
        background-color: #33669996;
        color: white;
      }