<p>
  calendar works!
</p>


<div class="calendar">
  <div class="day">
      <ul id="buttons">
          <li [style.height.px]="150" style="background-color:yellowgreen;" >Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
        </ul>
  </div>
  <div class="day">
      <ul id="buttons">
          <li>Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
        </ul>
  </div>
  <div class="day">
      <ul id="buttons">
          <li>Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
        </ul>
  </div>
  <div class="day">
      <ul id="buttons">
          <li>Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
        </ul>
  </div>
  <div class="day">
      <ul id="buttons">
          <li>Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
        </ul>
  </div>
  <div class="day">
      <ul id="buttons">
          <li>Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
        </ul>
  </div>
  <div class="day">
      <ul id="buttons">
          <li>Coffee</li>
          <li>Tea</li>
          <li>Milk</li>
        </ul>
  </div>





  
</div>