.calendar{
        min-width: 500px;
        max-width: 1000px;
        min-height: 300px;
        border: 1px;
        border-style: solid;
        border-radius: 5px;
        overflow-y:scroll;
        overflow-x:hidden;
}