<div class="window">

  <!-- MAIN WINDOW -->
  <div class="header">
    <h1>Ustawienia</h1>
  </div>

  <div class="content">
    <!-- COMPANY DATA -->
    <div class="column settings-address">
      <h3>Dane firmy:</h3>
      <hr>
    </div>
    <!-- /COMPANY DATA -->
    <!-- OPEN HOURS -->
    <div class="cloumn settings-open-hours">
      <h3>Godziny otwarcia:</h3>
      <form [formGroup]="openHoursForm">
        <table>
          <tr formGroupName="mo">
            <td>poniedziałek</td>
            <td><input formControlName="isOpen" type="checkbox"> Otwarte</td>
            <td>od: <input formControlName="openFrom" type="time"> do: <input formControlName="openTo" type="time"></td>
          </tr>
          <tr formGroupName="tu">
            <td>wtorek</td>
            <td><input formControlName="isOpen" type="checkbox"> Otwarte</td>
            <td>od: <input formControlName="openFrom" type="time"> do: <input formControlName="openTo" type="time"></td>
          </tr>
         <tr formGroupName="we">
            <td>środa</td>
            <td><input formControlName="isOpen" type="checkbox"> Otwarte</td>
            <td>od: <input formControlName="openFrom" type="time"> do: <input formControlName="openTo" type="time"></td>
          </tr>
          <tr formGroupName="th">
            <td>czwartek</td>
            <td><input formControlName="isOpen" type="checkbox"> Otwarte</td>
            <td>od: <input formControlName="openFrom" type="time"> do: <input formControlName="openTo" type="time"></td>
          </tr>
          <tr formGroupName="fr">
            <td>piątek</td>
            <td><input formControlName="isOpen" type="checkbox"> Otwarte</td>
            <td>od: <input formControlName="openFrom" type="time"> do: <input formControlName="openTo" type="time"></td>
          </tr>
          <tr formGroupName="sa">
            <td>sobota</td>
            <td><input formControlName="isOpen" type="checkbox"> Otwarte</td>
            <td>od: <input formControlName="openFrom" type="time"> do: <input formControlName="openTo" type="time"></td>
          </tr>
          <tr formGroupName="su">
            <td>niedziela</td>
            <td><input formControlName="isOpen" type="checkbox"> Otwarte</td>
            <td>od: <input formControlName="openFrom" type="time"> do: <input formControlName="openTo" type="time"></td>
          </tr> 
        </table>
      </form>
      <hr>
    </div>
    <!-- /OPEN HOURS -->
    <!-- TIME INTERVALS -->
    <div class="column settings-address">
        <h3>Pozostałe ustawienia:</h3>
        <form [formGroup]="calendarSettingsForm">
          <div class="form-group">
            <label>Interwały czasowe kalendarza:</label>
            <select class="form-control" formControlName="intervals">
                <option [ngValue]="10">10 min.</option>
                <option [ngValue]="15">15 min.</option>
                <option [ngValue]="20">20 min.</option>
                <option [ngValue]="30">30 min.</option>
                <option [ngValue]="40">40 min.</option>
                <option [ngValue]="50">50 min.</option>
                <option [ngValue]="60">1 h.</option>
                <option [ngValue]="120">2 h.</option>
              </select>
          </div>
        </form>
        <!-- {{ calendarSettings | json }} -->
      </div>
      <!-- / TIME INTERVALS -->

  </div>
  <!-- /MAIN  WINDOW -->

  <!-- {{ fresult | json }} -->


</div>