<div class="window">

  <!-- MAIN WINDOW -->
  <div class="header">
    <h1>Ustawienia</h1>
  </div>

  <div class="content">
    <!-- COMPANY DATA -->
    <div class="column settings-address">
      <h3>Dane firmy:</h3>

    </div>
    <!-- /COMPANY DATA -->
    <hr>
    <!-- OPEN HOURS -->
    <div class="cloumn settings-open-hours">
      <h3>Godziny otwarcia:</h3>
      <form [formGroup]="openHoursForm">
        <table>
          <tr formGroupName="mo">
            <td>poniedziałek</td>
            <td><input formControlName="isOpen" type="checkbox"> Otwarte</td>
            <td>od: <input formControlName="openFrom" type="time"> do: <input formControlName="openTo" type="time"></td>
          </tr>
          <tr formGroupName="tu">
            <td>wtorek</td>
            <td><input formControlName="isOpen" type="checkbox"> Otwarte</td>
            <td>od: <input formControlName="openFrom" type="time"> do: <input formControlName="openTo" type="time"></td>
          </tr>
         <tr formGroupName="we">
            <td>środa</td>
            <td><input formControlName="isOpen" type="checkbox"> Otwarte</td>
            <td>od: <input formControlName="openFrom" type="time"> do: <input formControlName="openTo" type="time"></td>
          </tr>
          <tr formGroupName="th">
            <td>czwartek</td>
            <td><input formControlName="isOpen" type="checkbox"> Otwarte</td>
            <td>od: <input formControlName="openFrom" type="time"> do: <input formControlName="openTo" type="time"></td>
          </tr>
          <tr formGroupName="fr">
            <td>piątek</td>
            <td><input formControlName="isOpen" type="checkbox"> Otwarte</td>
            <td>od: <input formControlName="openFrom" type="time"> do: <input formControlName="openTo" type="time"></td>
          </tr>
          <tr formGroupName="sa">
            <td>sobota</td>
            <td><input formControlName="isOpen" type="checkbox"> Otwarte</td>
            <td>od: <input formControlName="openFrom" type="time"> do: <input formControlName="openTo" type="time"></td>
          </tr>
          <tr formGroupName="su">
            <td>niedziela</td>
            <td><input formControlName="isOpen" type="checkbox"> Otwarte</td>
            <td>od: <input formControlName="openFrom" type="time"> do: <input formControlName="openTo" type="time"></td>
          </tr> 
        </table>
      </form>
      <hr>
    </div>
    <!-- /OPEN HOURS -->
    <hr>
    <!-- TIME INTERVALS -->
    <div class="column settings-address">
        <h3>Pozostałe ustawienia:</h3>
        <form companyDataForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Interwały czasowe kalendarza:</label>
            <select class="form-control">
                <option>10 min.</option>
                <option>15 min.</option>
                <option>20 min.</option>
                <option>30 min.</option>
                <option>40 min.</option>
                <option>50 min.</option>
                <option>1 h.</option>
                <option>2 h.</option>
              </select>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-form btn-primary">ZAPISZ</button>
          </div>
        </form>
      </div>
      <!-- / TIME INTERVALS -->

  </div>
  <!-- /MAIN  WINDOW -->

  <!-- {{ fresult | json }} -->


</div>