.window{
        margin-left: 0px;
        margin-right: 0px;
        min-width: 300px;
        max-width: 99.5%;
        min-height: 99.5%;
        max-height: 99.5%;
        /* border: 1px;
        border-style: solid;
        border-radius: 3px;
        box-shadow: 3px 3px 10px grey; */        
        background: rgb(250,250,250);

}
.header{
        border-bottom: 1px solid rgb(221,221,221);
        height: 100px;
}

.header > h1 {
        margin-left: 30px;
}

.content{
        overflow-y:auto;
        overflow-x:hidden;
        background: rgb(255,255,255);
}


.footer{
        border-top: 1px solid rgb(221,221,221);
        text-align: right;
        height: auto;
}

.margin-2px{
        margin: 2px;
}

.buttons{
        padding-top: 20px;
        padding-right: 50px;
        padding-bottom: 20px;
}


.background {
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
	background-color: yellow;
}


.settings-address{
        min-width: 300px;
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
        border: 0px solid rgb(221,221,221);
        border-radius: 0px;
        padding: 10px;
}

.settings-open-hours{
        min-width: 300px;
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
        border: 0px solid rgb(221,221,221);
        border-radius: 0px;
        padding: 10px;
}


      
      /* Clear floats after the columns */
.row:after {
        content: "";
        display: table;
        clear: both;
      }

tr:active,
.table-striped tr:active:nth-child(even) {
  color: black;
  background-color: white;
}